@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{ 
    Layout = null;
}

<html>
<head>
    <title>Hi!</title>
</head>
<body>
    <component type="typeof(GmodNetBot.Components.App)" render-mode="Static" />
</body>
</html>