@using Microsoft.Extensions.Configuration
@using System.Net.Http

@inject NavigationManager navigationManager
@inject IHttpClientFactory httpFactory
@inject IConfiguration configuration
@inject GitHubClientProvider githubProvider
@inject DiscordClientProvider discordProvider

@page "/contributor-callback"

@if(requestStatus is not null)
{
    <div class="row justify-content-center">
        <RequestStatusReport StatusOfRequest="@requestStatus" />
    </div>
}

@code {

}
