@using Microsoft.Extensions.Configuration
@using System.Text
@using System.Web
@using Microsoft.AspNetCore.Http
@using System.Security.Cryptography
@using System.Text.Json

@inject NavigationManager navigationManager
@inject IConfiguration configuration
@inject IHttpContextAccessor httpContextAccessor

<a href="@DiscordAuthUrl()" class="btn btn-lg btn-primary">
    <DiscordLogo Color="white" Size="25px"/> Login with Discord
</a>

@code {
    
}
