@page "/get-contributor-role"

<div class="row justify-content-center">
    <h1 class="display-4">Getting @@Contributor role</h1> 
</div>

<div class="mt-4">
    <p class="lead text-center">
        If you have contributed to any of the GmodNET repositories you can get a @@Contributor role on our Discrod server.
    </p>

    <p class="lead text-center">
        To do so, follow the steps below:
    </p>

    <div class="row justify-content-center">
        <ol>
            <li><a target="_blank" href="https://support.discord.com/hc/en-us/sections/360007770552-Account-Connections">Connect</a> your Discord and GitHub accounts</li>
            <li>Authorize our bot to have an access to your Discord connections via button below (safe login with Discord)</li>
        </ol>
    </div>

    <div class="row justify-content-center">
        <DiscordButton InternalRedirect="/contributor-callback" Scope="identify connections" />
    </div>
</div>

@code {

}
