@page "/"

<div class="row justify-content-center">
    <h1 class="display-4">What do you want to do?</h1>
</div>

<div class="row justify-content-center mt-4">
    <a href="/get-contributor-role" class="btn btn-lg btn-outline-primary">
        Get @@Contributor role
    </a>
</div>

@code {

}
